# See http://www.appveyor.com/docs/appveyor-yml for many more options

#Publish to PowerShell Gallery with this key
environment:
  NuGetApiKey:
    secure: pIvkg5bEkLZgYXQ/gFP7wOiJB4YzenyVJrdgRGjJ21F6PuoK7VSkx65r2aY3GwCI

# Allow WMF5 (i.e. PowerShellGallery functionality)
os: WMF 5

# Skip on updates to the readme.
# We can force this by adding [skip ci] or [ci skip] anywhere in commit message 
skip_commits:
  message: /updated readme.*|update readme.*s/

#Kick off the CI/CD pipeline
test_script:
- ps: . .\build\Start-Build.ps1 -Task Deploy

version: 3.0.{build}
pull_requests:
  do_not_increment_build_number: true
image: WMF 5
shallow_clone: true
build: off
deploy:
- provider: GitHub
  tag: $(APPVEYOR_BUILD_VERSION)-alpha
  release: $(APPVEYOR_BUILD_VERSION)-alpha release of PSWmiToolkit
  description: '## $(APPVEYOR_BUILD_VERSION)-alpha - $(Get-Date)'
  auth_token:
    secure: YfB1t8pxFZz+8Lc1GkcBPAmI+Hfg1MuM9+iMXSFU5BDSR7IKfisI79N+bjvTII7t
  repository: JhonnyTerminus/PSWmiToolkit
  draft: true
  prerelease: true
  force_update: true
  on:
    branch: master
notifications:
- provider: GitHubPullRequest
  auth_token:
    secure: YfB1t8pxFZz+8Lc1GkcBPAmI+Hfg1MuM9+iMXSFU5BDSR7IKfisI79N+bjvTII7t
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
- provider: Email
  to:
  - me@ioan-popovici.ro
  subject: AppVeyoy - Notification
  message: Build Successful!
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
- provider: Email
  to:
  - me@ioan-popovici.ro
  subject: AppVeyoy - Notification
  message: Build Failed!
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false